.icon {
  display: block;
  size: 130px;
  margin: -20px auto 20px;
}

.icon-form {
  background: url("../img/form.svg") no-repeat center;
  background-size: auto 110px;
}

.icon-operator {
  background: url("../img/operator.svg") no-repeat center;
  background-size: contain;
}

.icon-wallet {
  background: url("../img/wallet.svg") no-repeat center;
  background-size: contain;
}

.icon-holiday {
  background: url("../img/holiday.svg") no-repeat center;
  background-size: contain;
}