@import "~common/style/common/variables";

.field {
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 100%;
  height: 52px;
  font-size: 14px;
  background-color: #eee;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0 20px;
  &:focus {
    border-color: $blue;
    outline: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  }
  &.error, &.error:focus {
    border-color: $red;
  }
}